*{
    margin:0;
}

.top-bar{
    margin: 0;
    height: 8vh;
    width: 100vw;

    border-style: solid;
    border-color: black;
    background-color: purple;
}

.content-frame {
    width: 100vw;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: stretch;

    border-style: solid;
    border-color: black;
}

.content-box{
    width: 958.359px;

    display: flex;
    justify-content:flex-start;
    margin-top: 40px;

    border-style: solid;
    border-color: red;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.middlebar{
    width: 70%;
    margin-right: 2%;
    background-color: green;
}

.stories{
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
    position: relative;
    overflow:auto;
}

.stories-collection{
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 200%;
    display: flex;
}

.story-container{
    width: 4%;
    height: 100%;
    margin-left: 1%;
    display: flex;
    align-items: center;;
}
.story-pic{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post{
    margin-top: 5%;
    height: 1100px;
    background-color: grey;
    position: relative;
}

.interaction-buttons, .post-a-comment{
    height: 5%;
}

.post-header{
    height: 6%;
    background-color: blueviolet;
}

.picture {
    background-color: chocolate;
    height: 60%;
    object-fit: contain;
}

.post-header{
    display: flex;
    align-items: center;
}

.post-profile-pic-container{
    width: 10%;
    height: 100%;
    display:flex;
    align-items: center;
    margin-left: 1%;
}

.post-profile-pic{
    height:50%;
    width: 50%;
    border-radius: 50%;
}

.post-pic{
    height: 100%;
    width: 100%;
}

.interaction-buttons{
    background-color: crimson;
}

.description{
    background-color: darkred;
    height: 25%;
}

.post-a-comment{
    background-color: lightsalmon;
}