*{
    margin:0;
}

.top-bar{
    margin: 0;
    height: 8vh;
    width: 100vw;

    border-style: solid;
    border-color: black;
    background-color: purple;
}

.content-frame {
    width: 100vw;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: stretch;

    border-style: solid;
    border-color: black;
}

.content-box{
    width: 958.359px;

    display: flex;
    justify-content:flex-start;
    margin-top: 40px;

    border-style: solid;
    border-color: red;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.middlebar{
    width: 70%;
    margin-right: 2%;
    background-color: green;
}

.stories{
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
    position: relative;
    overflow:auto;
}

.stories-collection{
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 200%;
    display: flex;
}

.story-container{
    width: 4%;
    height: 100%;
    margin-left: 1%;
    display: flex;
    align-items: center;;
}
.story{
    background-color: aqua;
    width: 100%;
    height: 60%;
    border-radius: 50%;
}

.post{
    margin-top: 5%;
    height: 1000px;
    background-color: grey;
}


