*{
    margin:0;
}

.top-bar{
    margin: 0;
    height: 8vh;
    width: 100vw;

    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.content-frame {
    background-color: #fafafa;
    
    width: 100vw;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.content-box{
    width: 958.359px;

    display: flex;
    justify-content:flex-start;
    margin-top: 40px;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.middlebar{
    width: 70%;
    margin-right: 2%;
    background-color: #fafafa;
}





