.post{
    margin-top: 5%;
    height: 1100px;
    background-color: grey;
    position: relative;
}

.interaction-buttons, .post-a-comment{
    height: 5%;
}

.post-header{
    height: 6%;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
}

.picture {
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
    height: 60%;
    object-fit: contain;
}

.post-header{
    display: flex;
    align-items: center;
}

.post-profile-pic-container{
    width: 10%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.post-profile-pic{
    height:50%;
    width: 50%;
    border-radius: 50%;
}

.post-pic{
    height: 100%;
    width: 100%;
}

.interaction-buttons{
    display: flex;
    padding-left: 10px;;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
}

.btn{
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
    
    padding: 0;
}

.description{
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
    border-top: 0px;
    height: 3%;

    display: flex;
    align-items: center;
}

.desc_txt{
    margin-left: 10px;
}
 .comment-section{
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
    border-top: 0px;
    height: 20%;
 }


.post-a-comment{
    height: 4%;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
    border-top: 0px;
}